<div class="collection-grid2">
    <div class="collection-item2">
        <a class="collection-item-link" href="{{ collection.url }}">{{ collection.title }}</a>
        {% comment %} <a class="show-more" href="{{collection.url }}">show more</a>  {% endcomment %}
        <div class="collection__product-grid2">
            
                {% for product in collection.products %}
                    <div class="collection__product-item2 {% if forloop.index0 < 4 %}active{% endif %}">
                        <div class="collection__product-item--image">
                           <a href="{{product.url}}"> {{ product.featured_image | img_url: '350x' | img_tag }}</a>
                        </div>
                        <div class="collection__product-item--info">
                            <a class="collection__product-item--link" href="{{ product.url }}">{{ product.title }}</a>
                            <p class="collection__product-item--price">{{ product.price | money }}</p>
                        </div>
                    </div>
                {% endfor %} 
        </div>
    </div>
</div>